ipykernel
ipython
ipython-genutils
ipywidgets
jupyter
jupyter-client
jupyter-console
jupyter-core
-e git+https://github.com/Lasagne/Lasagne.git@996bf64c0aec6d481044495800b461cc62040041#egg=Lasagne
matplotlib
nbconvert
nbformat
nibabel
nipype
notebook
numpy
pandas
scikit-image
scikit-learn
scipy
seaborn
https://github.com/Theano/Theano/archive/master.zip
tqdm
